<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  
  
    <title>SISTEMAS OPERATIVOS</title>
</head>
<body>
  <div class=" cunn ">
    <i class="bi bi-reply-fill"id="redirect-icon"></i>
  </div>
  <div class="cuadro-con-flecha bg-info p-2" id="cuadro-con-flecha">
    <p>Haga click en las imagenes para ver la informacion</p>
  </div>
  <div class="container  p-4">
    <div class="title p-1 mb-5  bg-body-tertiary rounded opacity-50">
      <H1 class="text-danger">Caracteristicas</H1>
    </div>
    
    <div class="content2  p-1">
      <div class="mb-3 bg-black opacity-75">
        <div class="row p-3">
          <div class="col  ">
            <img src="../css/img/sistemas oprativos/caracteristicas/caracteristicas.jpeg" class="img1" alt="">
          </div>
          <div class=" p-3 m-2  cub col-7">
            <p class="txt_1">
             <b class="fs-1">Caracteristicas: </b> Las características de un sistema operativo son atributos o capacidades que permiten que el sistema cumpla con sus funciones de manera efectiva.
            </p>
          </div>
        </div>
      </div>
    
  
      <div id="carouselExampleIndicators" class="carousel slide">
      
        <div class="carousel-inner m-5">
          <div class="carousel-item active">
            <div class="row content-justify-center" >

                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps1" aria-expanded="false" >
                  <img src="../css/img/sistemas oprativos/caracteristicas/multitareas.jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps1">
                      <div class="card card-body text-white" id="info" >
                        <h4>Multitarea: </h4>
                        <p class="text_2">Permite ejecutar múltiples tareas simultáneamente.</p>
                      </div>
                    </div>
                  </div>
                </div> 
                
                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps2" aria-expanded="false" >
                  <img src="../css/img/sistemas oprativos/caracteristicas/G-memoria.jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps2">
                        <div class="card card-body  text-white" id="info" >
                            <h4>Gestión de memoria:</h4>
                            <p class="text_2">Optimiza el uso de la memoria del sistema.</p>
                        </div>
                    </div>
                  </div>
                </div>

                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps3" aria-expanded="false" >
                  <img src="../css/img/sistemas oprativos/caracteristicas/interfaz-user.jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps3">
                      <div class="card card-body  text-white" id="info" >
                        <h4>Interfaz de usuario:</h4>
                        <p class="text_2">Ofrece una forma interactiva para que los usuarios interactúen con el sistema.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>

           <div class="carousel-item">
            <div class="row content-justify-center" >
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps4" aria-expanded="false" >
                <img src="../css/img/sistemas oprativos/caracteristicas/seguridad.jpeg"  class="img2">
                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps4">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Seguridad: </h4>
                      <p class="text_2">Protege los datos y recursos del sistema contra accesos no autorizados.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps5" aria-expanded="false" >
                <img src="../css/img/sistemas oprativos/caracteristicas/sistema-archivos.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps5">
                    <div class="card card-body  text-white" id="info" >
                      <h4 >Sistema de archivos:</h4>
                      <p class="text_2">Protege los datos y recursos del sistema contra accesos no autorizados.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps6" aria-expanded="false" >
                <img src="../css/img/sistemas oprativos/caracteristicas/soporte de red.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps6">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Soporte de red:</h4>
                      <p class="text_2"> Facilita la conexión y comunicación entre múltiples dispositivos en una red.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      
        <button class="carousel-control-prev btns" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btns" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
       
        </div>
      </div>
    </div>
  </div>
      
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/scritp.js"></script>
</body>
</html>