<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  
  
    <title>SISTEMAS OPERATIVOS</title>
</head>
<body>
  <div class=" cunn ">
    <i class="bi bi-reply-fill"id="redirect-icon"></i>
  </div>
  <div class="cuadro-con-flecha bg-info p-2" id="cuadro-con-flecha">
    <p>Haga click en las imagenes para ver la informacion</p>
  </div>
  <div class="container  p-4">
    <div class="title p-1 mb-5  bg-body-tertiary rounded opacity-50">
      <H1 class="text-danger">Estructura</H1>
    </div>

    <div class="content2  p-1">
      <div class="mb-3 bg-black opacity-75">
        <div class="row p-3">
          <div class="col  ">
            <img src="../css/img/sistemas oprativos/estructura/estructura.jpeg" class="img1" alt="">
          </div>
          <div class=" m-2  cub  col-7">
            <p class="txt_1">
             <b class="fs-1">Estructura: </b> La estructura de un sistema operativo se organiza en varias capas, cada una con funciones específicas que permiten la gestión eficiente de los recursos del sistema y la interacción con el usuario. Entre las capas principales estan:
            </p>
          </div>
        </div>
      </div>
    
  
      <div id="carouselExampleIndicators" class="carousel slide">
      
        <div class="carousel-inner m-3">
          <div class="carousel-item active">
            <div class="row content-justify-center" >

                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps1" aria-expanded="false" >
                  <img src="../css/img/sistemas oprativos/estructura/nucleo.jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps1">
                      <div class="card card-body text-white" id="info" >
                        <h4>Núcleo (Kernel): </h4>
                        <p class="text_2">Parte central del sistema operativo, gestiona y facilita la ejecución de procesos y la comunicación entre hardware y software.</p>
                      </div>
                    </div>
                  </div>
                </div> 
                
                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps2" aria-expanded="false" >
                  <img src="../css/img/sistemas oprativos/estructura/controladores.jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps2">
                      <div class="card card-body  text-white" id="info" >
                        <h4>Controladores de Dispositivos:</h4>
                        <p class="text_2">Permiten al sistema operativo comunicarse con el hardware.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps3" aria-expanded="false" >
                  <img src="../css/img/sistemas oprativos/estructura/sistema-archivo.jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps3">
                      <div class="card card-body  text-white" id="info" >
                        <h4>Sistema de Archivos:</h4>
                        <p class="text_2">Organiza y gestiona los datos en el almacenamiento del dispositivo. Permite manipular archivos y directorios.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>

           <div class="carousel-item">
            <div class="row content-justify-center" >
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps4" aria-expanded="false" >
                <img src="../css/img/sistemas oprativos/estructura/IU.png"  class="img2">
                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps4">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Interfaz de Usuario: </h4>
                      <p class="text_2">Proporciona una forma de comunicación entre el usuario y el sistema operativo.  Puede ser una interfaz "GUI" o "CLI".</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps5" aria-expanded="false" >
                <img src="../css/img/sistemas oprativos/estructura/servicio-admin.jpg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps5">
                    <div class="card card-body  text-white" id="info" >
                      <h4 >Servicios y Utilidades del Sistema:</h4>
                      <p class="text_2">Permiten corregir errores, mejorar el rendimiento o añadir nuevas funciones al dispositivo.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps6" aria-expanded="false" >
                <img src="../css/img/sistemas oprativos/estructura/app.png"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps6">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Aplicaciones:</h4>
                      <p class="text_2"> Esta es la capa más alta del sistema operativo y contiene los programas que los usuarios utilizan para realizar tareas específicas.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      
        <button class="carousel-control-prev btns" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btns" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon " aria-hidden="true"></span>
          <span class="visually-hidden ">Next</span>
        </button>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
       
        </div>
      </div>
    </div>
  </div>
      
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/scritp.js"></script>
</body>
</html>