<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  
    <title>SISTEMAS DE COMPUTACION</title>
</head>
<body>
  <div class=" cunn ">
     <i class="bi bi-reply-fill"id="redirect-icon"></i>
  </div>

  <div class="cuadro-con-flecha bg-info p-2" id="cuadro-con-flecha">
    <p>Haga click en las imagenes para ver la informacion</p>
</div>

  <div class="container  p-4">
    
    <div class="title p-1 mb-5  bg-body-tertiary rounded opacity-50">
      <H1 class="text-danger">FIRMWARE</H1>
    </div>

    <div class="content2  p-1">
      <div class="mb-3 bg-black opacity-75">
        <div class="row p-3">
          <div class="col  ">
            <img src="../css/img/firmware/Firmware.jpg" class="img1" alt="">
          </div>
          <div class="  bg-danger col-7">
            <p class="txt_1">
             <b class="fs-1">Firmware: </b> Es un software esencial para el funcionamiento básico de un dispositivo, ya que está incrustado directamente en su hardware. A diferencia del software regular, el firmware se almacena en memoria no volátil, lo que asegura que no se pierde cuando el dispositivo se apaga.
            </p>
          </div>
        </div>
      </div>
    
  
      <div id="carouselExampleIndicators" class="carousel slide">
      
        <div class="carousel-inner m-4">
          <div class="carousel-item active">
            <div class="row content-justify-center" >
        
                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps1" aria-expanded="false" >
                  <img src="../css/img/firmware/rom.jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps1">
                      <div class="card card-body text-white" id="info" >
                        <h4>ROM (Memoria de Sólo Lectura): </h4>
                        <p class="text_2">Memoria es no volátil donde se almacena el firmware.</p>
                      </div>
                    </div>
                  </div>
                </div> 
                
                <div class="col" data-bs-toggle="collapse" data-bs-target="#collaps2" aria-expanded="false">
                    <img src="../css/img/firmware/bootloader-android.jpg" class="img2">
                    <div style="min-height: 120px;">
                        <div class="collapse collapse-horizontal" id="collaps2">
                            <div class="card card-body text-white" id="info">
                                <h4>Cargador de Arranque (Bootloader):</h4>
                                <p class="text_2">Su función principal es cargar el sistema operativo o el firmware principal.</p>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps3" aria-expanded="false" >
                  <img src="../css/img/firmware/codigo-Firmware .jpg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps3">
                      <div class="card card-body  text-white" id="info" >
                        <h4>Código del Firmware:</h4>
                        <p class="text_2">Conjunto de instrucciones que controla el hardware del dispositivo. Con funciones para que el dispositivo opere correctamente.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>

           <div class="carousel-item">
            <div class="row content-justify-center" >
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps4" aria-expanded="false" >
                <img src="../css/img/firmware/cada-abstaccion.jpg"  class="img2">
                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps4">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Capa de Abstracción de Hardware (HAL): </h4>
                      <p class="text_2">Es puente entre el hardware y el software, facilitando que el firmware maneje el hardware de manera óptima.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps5" aria-expanded="false" >
                <img src="../css/img/firmware/actualizacion-firmware.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps5">
                    <div class="card card-body  text-white" id="info" >
                      <h4 >Actualizaciones de Firmware:</h4>
                      <p class="text_2">Permiten corregir errores, mejorar el rendimiento o añadir nuevas funciones al dispositivo.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps6" aria-expanded="false" >
                <img src="../css/img/firmware/IU.png"  class="img2">
                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps6">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Interfaz de Usuario (UI):</h4>
                      <p class="text_2">En ciertos dispositivos, el firmware ofrece una interfaz para que los usuarios interactúen y configuren el dispositivo.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      
        <button class="carousel-control-prev btns" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon btns" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
       
        </div>
      </div>
    </div>
  </div>
  <script src="../js/scritp.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>