<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  
    <title>SISTEMAS DE COMPUTACION</title>
</head>
<body>
  
  <div class=" cunn ">
    <i class="bi bi-reply-fill"id="redirect-icon"></i>
 </div>
 <div class="cuadro-con-flecha bg-info p-2" id="cuadro-con-flecha">
  <p>Haga click en las imagenes para ver la informacion</p>
  </div>
  <div class="container  p-4">
    <div class="title p-1 mb-5 bg-body-tertiary rounded opacity-50">
      <H1 class="text-danger">HARDWARE</H1>
    </div>
    <div class="content2  p-1">
      <div class="mb-5 bg-black mb-2 opacity-75">
        <div class="row p-3">
          <div class="col m-1 ">
            <img src="../css/img/hardware/hardware.jpg" class="img1" alt=" hardware">
          </div>
          <div class=" m-2 bg-danger col-7">
            <p class="txt_1">
              <b class="fs-1">Hardware: </b> Se refiere a los componentes físicos de un sistema informático, El hardware de una computadora está compuesto por varios componentes esenciales que permiten su funcionamiento. <br> Aquí te detallo los principales:
             </p>
          </div>
        </div>
      </div>
    
  
      <div id="carouselExampleIndicators" class="carousel slide">
      
        <div class="carousel-inner m-3">
          <div class="carousel-item active">
            <div class="row content-justify-center" >

               <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collap1" aria-expanded="false" >
                  <img src="../css/img/hardware/cpu2.png"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collap1">
                      <div class="card card-body text-white" id="info" >
                        <h4 >Unidad Central de Procesamiento (CPU):</h4>
                        <p class="text_2">Es el cerebro de la computadora, encargado de ejecutar las instrucciones de los programas </p>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collap2" aria-expanded="false" >
                  <img src="../css/img/hardware/ram.jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collap2">
                      <div class="card card-body text-white" id="info" >
                        <h4>Memoria RAM:</h4>
                        <p class="text_2">Memoria de acceso aleatorio que almacena temporalmente los datos y programas que la CPU necesita en tiempo real..</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps3" aria-expanded="false" >
                  <img src="../css/img/hardware/Placa Base (Motherboard).jpeg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps3">
                      <div class="card card-body text-white" id="info" >
                        <h4>Placa Base (Motherboard): </h4>
                        <p class="text_2 ">Tarjeta principal que conecta todos los componentes del hardware y permite la comunicación entre ellos.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>

           <div class="carousel-item">
            <div class="row content-justify-center" >
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps4" aria-expanded="false" >
                <img src="../css/img/hardware/HDD.jpeg"  class="img2">
                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps4">
                    <div class="card card-body text-white" id="info" >
                      <h4>Disco Duro (HDD)</h4>
                      <p class="text_2">Es un dispositivo que utiliza platos giratorios y un cabezal de lectura/escritura para almacenar y recuperar datos.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps5" aria-expanded="false" >
                <img src="../css/img/hardware/targeta grafica.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps5">
                    <div class="card card-body text-white" id="info" >
                      <h4>Tarjeta Gráfica (GPU):</h4>
                      <p class="text_2">Componente encargado de procesar y renderizar gráficos y videos.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps6" aria-expanded="false" >
                <img src="../css/img/hardware/psu.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps6">
                    <div class="card card-body text-white" id="info" >
                      <h4>Fuente de Alimentación (PSU):</h4>
                      <p class="text_2"> Proporciona la energía eléctrica necesaria para que todos los componentes funcionen.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row content-justify-center" >
              <div class=" col " data-bs-toggle="collapse" data-bs-target="#collaps7" aria-expanded="false ">
                <img src="../css/img/hardware/Periféricos de Entrada y Salida-1.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps7">
                    <div class="card card-body text-white" id="info" >
                      <h4>Periféricos de Entrada y Salida:</h4>
                      <p class="text_2"> Dispositivos que permiten la interacción con la computadora.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" data-bs-toggle="collapse" data-bs-target="#collaps8" aria-expanded="false">
                <img src="../css/img/hardware/collage_de_dispositivos_de_almacenamiento.png"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps8">
                    <div class="card card-body text-white" id="info" >
                      <h4>Unidades de Almacenamiento Externo:</h4>
                      <p class="text_2">  Dispositivos que permiten almacenar y transferir datos fuera de la computadora.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col " data-bs-toggle="collapse" data-bs-target="#collaps9" aria-expanded="false">
                <img src="../css/img/hardware/ssd.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps9">
                    <div class="card card-body text-white" id="info" >
                      <h4>Unidad de Estado Sólido (SSD):</h4>
                      <p class="text_2">Dispositivo que utiliza memoria flash para almacenar datos de forma permanente.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <button class="carousel-control-prev btns" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon flex" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btns " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon flex " aria-hidden="true"></span>
          <span class="visually-hidden ">Next</span>
        </button>
        <div class="carousel-indicators">
          <button type="button " data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/scritp.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>