<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  
  
    <title>SISTEMAS DE COMPUTACION</title>
</head>
<body>
  <div class=" cunn ">
    <i class="bi bi-reply-fill"id="redirect-icon"></i>
  </div>
  <div class="cuadro-con-flecha bg-info p-2" id="cuadro-con-flecha">
    <p>Haga click en las imagenes para ver la informacion</p>
</div>
  <div class="container  p-4">
    <div class="title p-1 mb-5  bg-body-tertiary rounded opacity-50">
      <H1 class="text-danger">SOFTWARE</H1>
    </div>

    <div class="content2 p-1">
      <div class="mb-3 bg-black opacity-75">
        <div class="row p-3">
          <div class="col  ">
            <img src="../css/img/software.jpeg" class="img1" alt="">
          </div>
          <div class="  m-2  bg-danger col-7">
            <p class="txt_1">
             <b class="fs-1">Software: </b>Conjunto de instrucciones y datos <br>que indican al hardware cómo realizar tareas específicas. <br>Se divide en dos categorías principales: <br>software de sistema (como sistemas operativos) <br> y software de aplicación (programas que realizan tareas específicas).
            </p>
          </div>
        </div>
      </div>
    
  
      <div id="carouselExampleIndicators" class="carousel slide">
      
        <div class="carousel-inner m-3 ">
          <div class="carousel-item active">
            <div class="row content-justify-center" >

                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps1" aria-expanded="false" >
                  <img src="../css/img/software/Código-Fuente.jpg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps1">
                      <div class="card card-body text-white" id="info" >
                        <h4>Código Fuente: </h4>
                        <p class="text_2">Instrucciones escritas en un lenguaje de programación que define al software.</p>
                      </div>
                    </div>
                  </div>
                </div> 
                
                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps2" aria-expanded="false" >
                  <img src="../css/img/software/documentacion.jpg"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps2">
                      <div class="card card-body  text-white" id="info" >
                        <h4>Documentación:</h4>
                        <p class="text_2"> Manuales, guías y comentarios en el código para entender y utilizar el software.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps3" aria-expanded="false" >
                  <img src="../css/img/software/interfaz.png"  class="img2">
  
                  <div style="min-height: 120px " >
                    <div class="collapse collapse-horizontal"  id="collaps3">
                      <div class="card card-body  text-white" id="info" >
                        <h4>Interfaz de Usuario (UI):</h4>
                        <p class="text_2"> Es la parte del software con la que interactúan los usuarios, como ventanas, botones y menús.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>

           <div class="carousel-item">
            <div class="row content-justify-center" >
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps4" aria-expanded="false" >
                <img src="../css/img/software/base de datos.png"  class="img2">
                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps4">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Base de Datos:</h4>
                      <p class="text_2">Almacena y gestiona los datos que el software necesita para funcionar.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps5" aria-expanded="false" >
                <img src="../css/img/software/codigo fuente_2.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps5">
                    <div class="card card-body  text-white" id="info" >
                      <h4 >Algoritmos:</h4>
                      <p class="text_2">Son las secuencias de pasos lógicos que el software sigue para resolver problemas específicos.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps6" aria-expanded="false" >
                <img src="../css/img/software/bibliotecas.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps6">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Bibliotecas:</h4>
                      <p class="text_2">Conjuntos de funciones y herramientas reutilizables que facilitan el desarrollo de software.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row content-justify-center" >
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps7" aria-expanded="false" >
                <img src="../css/img/software/codigo fuente.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps7">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Entorno de Desarrollo:</h4>
                      <p class="text_2">Este es el contenido que aparece al hacer clic en la imagen.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps8" aria-expanded="false" >
                <img src="../css/img/software/framewaree.jpg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps8">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Frameworks:</h4>
                      <p class="text_2"> Estructuras de soporte que proporcionan una base para desarrollar aplicaciones.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" col  " data-bs-toggle="collapse" data-bs-target="#collaps9" aria-expanded="false" >
                <img src="../css/img/software/controladores.jpeg"  class="img2">

                <div style="min-height: 120px " >
                  <div class="collapse collapse-horizontal"  id="collaps9">
                    <div class="card card-body  text-white" id="info" >
                      <h4>Controladores de Dispositivos: </h4>
                      <p class="text_2"> Programas que permiten la comunicación entre el sistema operativo y el hardware.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <button class="carousel-control-prev btns" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btns" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon " aria-hidden="true"></span>
          <span class="visually-hidden ">Next</span>
        </button>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/scritp.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>